<div>
  <canvas #canvas></canvas>
  <div class="movement-control-container">
    <div>
      <button class="movement-control"
        (click)="moveForward()">
        forward
      </button>
      </div>
    <div>
      <button class="movement-control"
        (click)="moveLeft()">
        left
      </button>
      <button class="movement-control"
        (click)="moveRight()">
        right
      </button>
    </div>
    <div>
      <button class="movement-control"
        (click)="moveBackward()">
        back
      </button>
    </div>
  </div>
  <div class="left-shoulder-control-container">
    <button (click)="turnLeft()">
      turn
    </button>
    <!-- target -->
  </div>
  <div class="right-shoulder-control-container">
    <button (click)="turnRight()">
      turn
    </button>
    <!-- target -->
  </div>
  <div class="control-container">
    <button
      (click)="renderTest()">
      Render Test
    </button>
  </div>
</div>
