.app-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #000;
}

app-canvas {
  background-color: #00ff00;
  order: 1;
}

left-control {
  background-color: #ff0000;
  order: 2;
}

right-control {
  background-color: #ff0000;
  order: 3;
}

@media only screen and (orientation: landscape) {
  left-control {
    order: 1;
  }

  app-canvas {
    order: 2;
  }
}
