.app-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.canvas-container {
  display: flex;
  align-items: center;
  order: 1;
}

left-control {
  flex-grow: 1;
  order: 2;
}

right-control {
  flex-grow: 1;
  order: 3;
}

@media only screen and (orientation: landscape) {
  left-control {
    order: 1;
  }

  .canvas-container {
    order: 2;
  }
}
