.right-control-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  background-color: #ff0;
}

.top-control-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #0f0;
}
.top-control-container button {
  width: 100px;
}

.bottom-control-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #0ff;
}
.bottom-control-container button {
  width: 100px;
}
