.left-control-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #0ff;
}

.top-control-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #ff0;
}
.top-control-container button {
  width: 100px;
}

.bottom-control-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #00f;
}
.bottom-control-container button {
  display: block;
  width: 50px;
}

.spread {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
