.left-control-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.top-control-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.bottom-control-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.spread {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.movement-control {
  display: inline-block;
}
